@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-second: 240 0% 96%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 84% 60%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
    --chart-1: 215 20% 72%;
    --chart-2: 158 75% 53%;
    --chart-3: 27 96% 61%;
    --chart-4: 213 94% 68%;
    --chart-5: 0 91% 71%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 9%;
    --sidebar-primary: 0 84% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 96.1%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 0 72.2% 50.6%;
    --chart-rent: #A855F7;
		--chart-feed: #EF4444;
		--chart-cleaning: #22C55E;
		--chart-energy: #f60094;
		--chart-maintenance: #FDE047;
		--chart-water: #3B82F6;
		--chart-internet: #71d4f8;
		--chart-toys: #F43F5E;
  }

  .dark {
    --background: 0 0% 3.9%;
    --background-second: 0 0% 10%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 84% 60%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Public+Sans:wght@300;400;700&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.text-h1 {
  @apply font-bold text-[4rem] leading-[72px];
}

.text-h2 {
  @apply font-bold text-[3.25rem] leading-[60px];
}


.text-h3 {
  @apply font-bold text-[2.625rem] leading-[50px];
}

.text-h4 {
  @apply font-bold text-[2rem] leading-[40px];
}

.text-h5 {
  @apply font-bold text-[1.5rem] leading-[32px];
}

.text-subtitle {
  @apply text-[1.75rem] leading-[36px];
}

.text-subtitle-2 {
  @apply text-[1.25rem] leading-[28px];
}

.text-subtitle-3 {
  @apply text-[1rem] leading-[24px];
}

.text-paragraph {
  @apply text-[1rem] leading-[24px];
}

.text-paragraph-2 {
  @apply text-[1rem] leading-[24px] font-semibold;
}

.text-paragraph-3 {
  @apply text-[0.875rem] leading-[22px];
}

.text-paragraph-4 {
  @apply text-[0.875rem] leading-[22px] font-semibold;
}

.text-paragraph-5 {
  @apply text-[0.75rem] leading-[20px];
}

.text-paragraph-6 {
  @apply text-[0.75rem] leading-[20px] font-semibold;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}